Code/TextToSpeechAPI.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"language":{"type":"string"},"gender":{"type":"string"},"text":{"type":"string"}}},"method":"POST"}}},"actions":{"init_Language":{"runAfter":{"init_accessToken":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Language","type":"String","value":"@triggerBody()?['language']"}]}},"init_Gender":{"runAfter":{"init_Language":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Gender","type":"String","value":"@triggerBody()?['gender']"}]}},"init_Text":{"runAfter":{"init_Gender":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Text","type":"String","value":"@triggerBody()?['text']"}]}},"Init_apiKey":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"apiKey","type":"String","value":"9f9db57e27a7444f8f12199516fff277"}]}},"Get_access_token":{"actions":{"HTTP_Get_token":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"https://api.cognitive.microsoft.com/sts/v1.0/issueToken","headers":{"Ocp-Apim-Subscription-Key":"@variables('apiKey')","Accept":"application/jwt; charset=us-ascii"}}},"Opstellen_accessToken":{"runAfter":{"HTTP_Get_token":["Succeeded"]},"type":"Compose","inputs":"@body('HTTP_Get_token').$content"},"instellen_accessToken":{"runAfter":{"Opstellen_accessToken":["Succeeded"]},"type":"SetVariable","inputs":{"name":"accessToken","value":"@{base64ToString(outputs('Opstellen_accessToken'))}"}}},"runAfter":{"init_Text":["Succeeded"]},"type":"Scope"},"init_accessToken":{"runAfter":{"Init_apiKey":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"accessToken","type":"String"}]}},"Get_Speech_from_Text":{"actions":{"Opstellen_XML":{"runAfter":{},"type":"Compose","inputs":"<speak version='1.0' xml:lang='@{variables('Language')}'><voice xml:lang='@{variables('Language')}' xml:gender='@{variables('Gender')}' name='Microsoft Server Speech Text to Speech Voice (en-US, ZiraRUS)'>@{variables('Text')}</voice></speak>"},"HTTP_Get_Audio":{"runAfter":{"Opstellen_XML":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://speech.platform.bing.com/synthesize","headers":{"Content-Type":"application/ssml+xml","X-Microsoft-OutputFormat":"riff-16khz-16bit-mono-pcm","Authorization":"Bearer @{variables('accessToken')}","X-Search-AppId":"CEF01C1C91DD42B08883BA89ECF724EE","X-Search-ClientID":"2B634DBD188143FF8FF856DF66EFAD97","User-Agent":"SPFxScreenreader"},"body":"@xml(outputs('Opstellen_XML'))"}}},"runAfter":{"Get_access_token":["Succeeded"]},"type":"Scope"},"Reactie":{"runAfter":{"Get_Speech_from_Text":["Succeeded"]},"type":"Response","inputs":{"statusCode":200,"headers":{"Content-Type":"audio/x-wav"},"body":"@body('HTTP_Get_Audio')"}}},"outputs":{}},"parameters":{},"runtimeConfiguration":{"collections":{"maximumItemCount":5000}}}}]}